@media (max-width: 768px) {
  body { font-size: 16px; } .container { width: 100%; }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body { font-size: 18px; } .container { width: 70%; }
}

@media (min-width: 1025px) { 
  body { font-size: 20px; } .container { width: 50%; }
}

body {
    font-family: sans-serif;
    background: #020b8a;
    height: 100vh;
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center; 
  }
form {
    margin-top: -110px;
    width: 500px;
    
}

input {
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
button {
    margin-top: 10px;
    width: 520px;
}

.btn {
  font-size: 20px;
  margin: 0 auto;
  background-color: #0074d9;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-block-end: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.cadastro{
    color: black;
    border-left: 0px;
    margin-top: -10px;
    font-size: 20px;
    font-family: sans-serif;
}

.input-name,
.input-mail,
.password,
.confirm {
  
  display: block;
  margin-bottom: 20px;
  width: 100%; 
  padding: 10px; 
  font-size: 16px; 
}
.imgcad{
    text-align: center;
    margin-top: 5px;
    
}
.name{
    margin-top: 80px;
}





